@using CMSWeb.Language
@using MvcPaging
@model IPagedList<CMSWeb.Models.EmployeeModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h1 class="h3 mb-2 text-gray-800">@Resource.ListEmployee</h1>
    </div>
    <div class="col-md-8">
        @using (Html.BeginForm("Index", "Employee", FormMethod.Get, new { @class = "form-inline text-right", id = "employee_search_form", onsubmit = "return !1" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group mx-sm-2 mr-2 my-1">
                <input type="search" class="form-control input-sm" name="query" value="@ViewBag.Query" placeholder="@EmployeeResource.EmployeeSearch" maxlength="50">
            </div>

            <div class="form-group mx-sm-1 mr-2 my-1">
                <select class="form-control" id="status" name="status">
                    <option>@Resource.AllStatus</option>
                    <option value="1">@Resource.Enable</option>
                    <option value="0">@Resource.Disable</option>
                </select>
            </div>

            <div class="form-group mx-sm-1 mr-2 my-1">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                    @Resource.Search
                </button>
            </div>

            <div class="form-group mx-sm-1 mr-2 my-1">
                <a href="#create" id="create" class="btn btn-info">
                    <i class="fas fa-plus"></i>
                    @Resource.Create
                </a>
            </div>
        }
    </div>
</div>
<hr />
<div class="card shadow mb-4">
    <div class="card-body">
        <div id="gridcontainer">
            <script>
                $(document).ready(function () {
                    X.Page.Employee.init();
                    $("#status").val(@ViewBag.Active);
                });
            </script>

            @Html.Partial("_EmployeeGrid", Model)
        </div>
    </div>
</div>
