@using CMSWeb.Language
@using CMSWeb.Util
@using MvcPaging
@model IPagedList<CMSWeb.Models.UserModel>

@if (Model.Any())
{
    <table class="table table-bordered table-striped table-hover responsive-table">
        <thead class="thead-light">
            <tr>
                <th>@UserResource.Usename</th>
                <th>@UserResource.Fullname</th>
                <th>@UserResource.Role</th>
                <th>@UserResource.CreateDate</th>
                <th>@Resource.Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr class="@(!item.Status?"disabled":"")" id="user@(item.Id)">
                    <td data-title="@UserResource.Usename">@item.Username</td>
                    <td data-title="@UserResource.Fullname">@item.EmployeeName</td>
                    <td data-title="@UserResource.Role">@item.Role</td>
                    <td title="@UserResource.CreateDate">
                        @if (item.CreateDate.HasValue)
                        {
                            @Html.Raw(Helpers.FormatDisplayDateTime(item.CreateDate.Value));
                        }
                    </td>
                    <td data-title="@Resource.Action">
                        <a class="btn btn-warning btn-sm mr-2 my-1"
                           href="#" data-action="setrole" data-id="@item.Id">
                            <i class="fas fa-edit"></i>
                            @UserResource.Role
                        </a>
                        @if (item.Status)
                        {
                            <a class="btn btn-danger btn-sm mr-2 my-1"
                               href="#" data-action="disable" data-id="@item.Id">
                                <i class="fas fa-trash-alt"></i>
                                @Resource.Disable
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-success btn-sm mr-2 my-1"
                               href="#" data-action="enable" data-id="@item.Id">
                                <i class="fas fa-external-link-alt"></i>
                                @Resource.Enable
                            </a>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>

    if (Model.PageCount > 1)
    {
        <div class="paging text-center">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                             .AddRouteValue("query", ViewBag.Query)
                             .AddRouteValue("status", ViewBag.Active))
        </div>
    }
    <div class="text-center">
        @Resource.Displaying @Model.ItemStart → @Model.ItemEnd / <strong>@Model.TotalItemCount</strong>
    </div>
}
else
{
    <div class="text-center bold">@UserResource.UserNotFound</div>
}

<script>
    $(document).ready(function () {
        X.Page.User.init();
    });
</script>

