@model CMSWeb.Models.FeedbackModel
@using CMSWeb.Language
@using CMSWeb.Util

<div class="form-group row">
    <label class="col-sm-4 col-form-label">@CustomerResource.MemberCard</label>
    <label class="col-sm-8 form-control">@Model.CustomerMemberCard</label>
</div>

<div class="form-group row">
    <label class="col-sm-4 col-form-label">@CustomerResource.CustomerName</label>
    <label class="col-sm-8 form-control">@Model.CustomerName</label>
</div>

<div class="form-group row">
    <label class="col-sm-4 col-form-label">@FeedbackResource.Title</label>
    @Html.LabelFor(m => m.Title, new { @class = "col-sm-8 form-control" })
</div>
<div id="attachmentContainer" class="form-group row">
    <div class="col-sm-12">
        <ul class="list-group">
            @foreach (var item in Model.Attachments)
            {
                <li class="list-group-item">
                    <a href="@Url.Action("Download","Feedback", new { iden = item.Iden, feedbackId= Model.Id})">
                        @item.Name
                        <i class="fas fa-download"></i>
                    </a>
                    <br>
                    @item.Created
                </li>
            }
        </ul>
    </div>
</div>
<div class="form-group row">
    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", rows = "5", maxlength = "500", @readonly = "" })
</div>

<div class="form-group text-center">
    <button class="btn btn-secondary" data-dismiss="modal">@Resource.Close</button>
</div>