@using CMSWeb.Language
@using CMSWeb.Util
@using MvcPaging
@model IPagedList<CMSWeb.Models.FeedbackModel>

@if (Model.Any())
{

    <div>
        <span class="pad3 bg-danger text-white">@Resource.New</span>
        <span class="pad3 bg-warning text-white">@Resource.Pending</span>
        <span class="pad3 bg-success text-white">@Resource.Complete</span>
    </div>
    <hr />
    <table class="table table-bordered table-striped table-hover responsive-table">
        <thead class="thead-light">
            <tr>
                <th>@CustomerResource.MemberCard</th>
                <th>
                    <a href="#" data-action="sort" data-field="@($"{CMSRepository.SortList.feedbackList[4]}_{ViewBag.SortAsc}")">@CustomerResource.CustomerName</a>
                    @if (CMSRepository.SortList.feedbackList[4].ToLower().Equals(ViewBag.CurrentSortField.ToLower()))
                    {
                        @(ViewBag.SortAsc.ToLower().Equals("asc") ? Html.Raw("<i class='fas fa-sort-amount-down-alt'></i>") : Html.Raw("<i class='fas fa-sort-amount-down'></i>"))
                    }
                    else
                    {
                        <i class="fas fa-sort"></i>
                    }
                </th>
                <th>
                    <a href="#" data-action="sort" data-field="@($"{CMSRepository.SortList.feedbackList[1]}_{ViewBag.SortAsc}")">@FeedbackResource.Title</a>
                    @if (CMSRepository.SortList.feedbackList[1].ToLower().Equals(ViewBag.CurrentSortField.ToLower()))
                    {
                        @(ViewBag.SortAsc.ToLower().Equals("asc") ? Html.Raw("<i class='fas fa-sort-amount-down-alt'></i>") : Html.Raw("<i class='fas fa-sort-amount-down'></i>"))
                    }
                    else
                    {
                        <i class="fas fa-sort"></i>
                    }
                </th>
                <th>
                    <a href="#" data-action="sort" data-field="@($"{CMSRepository.SortList.feedbackList[2]}_{ViewBag.SortAsc}")">@FeedbackResource.CreateDate</a>
                    @if (CMSRepository.SortList.feedbackList[2].ToLower().Equals(ViewBag.CurrentSortField.ToLower()))
                    {
                        @(ViewBag.SortAsc.ToLower().Equals("asc") ? Html.Raw("<i class='fas fa-sort-amount-down-alt'></i>") : Html.Raw("<i class='fas fa-sort-amount-down'></i>"))
                    }
                    else
                    {
                        <i class="fas fa-sort"></i>
                    }
                </th>
                <th>
                    <a href="#" data-action="sort" data-field="@($"{CMSRepository.SortList.feedbackList[3]}_{ViewBag.SortAsc}")">@Resource.Action</a>
                    @if (CMSRepository.SortList.feedbackList[3].ToLower().Equals(ViewBag.CurrentSortField.ToLower()))
                    {
                        @(ViewBag.SortAsc.ToLower().Equals("asc") ? Html.Raw("<i class='fas fa-sort-amount-down-alt'></i>") : Html.Raw("<i class='fas fa-sort-amount-down'></i>"))
                    }
                    else
                    {
                        <i class="fas fa-sort"></i>
                    }
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                string background = string.Empty;
                if (item.Status == 1)
                {
                    background = "background-warning";
                }
                else if (item.Status == 0)
                {
                    background = "background-danger";
                }
                else if (item.Status == 2)
                {
                    background = "background-success";
                }


                <tr id="feedback@(item.Id)" class="@background">
                    <td>@item.CustomerMemberCard</td>
                    <td>@item.CustomerName</td>
                    <td data-title="@FeedbackResource.Title">
                        @item.Title
                        @if (item.Attachments != null && item.Attachments.Any())
                        {
                            <a href="#" data-action="view-attachment" data-feedback_id="@item.Id">
                                <i class="fas fa-paperclip"></i>
                            </a>
                        }
                    </td>
                    <td title="@FeedbackResource.CreateDate">
                        @Html.Raw(Helpers.FormatDisplayDateTime(item.CreateDate.Value));
                    </td>
                    <td data-title="@FeedbackResource.Status">
                        @if (item.Status == 0)
                        {
                            <a class="btn btn-warning btn-sm mr-2 my-1"
                               href="#" data-action="change_pending" data-id="@item.Id">
                                @Resource.Pending
                            </a>
                            <a class="btn btn-success btn-sm mr-2 my-1"
                               href="#" data-action="change_complete" data-id="@item.Id">
                                @Resource.Complete
                            </a>
                        }
                        else if (item.Status == 1)
                        {
                            <a class="btn btn-success btn-sm mr-2 my-1"
                               href="#" data-action="change_complete" data-id="@item.Id">
                                @Resource.Complete
                            </a>
                        }
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2 my-1"
                           href="#" data-action="view" data-id="@item.Id">
                            @Resource.Detail
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>


    if (Model.PageCount > 1)
    {
        <div class="paging text-center">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                             .AddRouteValue("query", ViewBag.Query)
                             .AddRouteValue("sortColumnName", ViewBag.CurrentSortParam)
                             .AddRouteValue("from", ViewBag.FromDate)
                             .AddRouteValue("to", ViewBag.ToDate)
                             .AddRouteValue("status", ViewBag.Active))
        </div>
    }
    <div class="text-center">
        @Resource.Displaying @Model.ItemStart → @Model.ItemEnd / <strong>@Model.TotalItemCount</strong>
    </div>
}
else
{
    <div class="text-center bold">@FeedbackResource.FeedbackNotFound</div>
}

<script>
    $(document).ready(function () {
        X.Page.Feedback.init();
        X.Page.Feedback.sort();
        X.Page.Feedback.view_attachment();
    });
</script>
